/* wrapper */

#D1{
	background: #899037;
	background-image:url('media/image/bg/hutan.png');
}

#D2{
	background: #899037;
	background-image:url('media/image/bg/tambang.png');
}

#D3{
	background: #899037;
	background-image:url('media/image/bg/bebatuan.png');
}

/* User Interface */

.winBoard{
	background: white;
	display: inline-block;
	position: absolute;
	width:200px;
	height:200px;
	border: 3px black solid;
	top: 250px;
	left:350px;
	z-index:1000;
}

.stBoard{
	background: white;
	display: inline-block;
	position: absolute;
	width:200px;
	height:200px;
	border: 3px black solid;
	top: 250px;
	left:350px;
	z-index:1000;
}

/* aksesoris */

.midUp1{
	position: absolute;
	width:142px;
	height:196px;
	top:75px;
	left:90px;
	cursor: pointer;
}

.midUp2{
	position: absolute;
	width:323px;
	height:196px;
	top:75px;
	left:280px;
	cursor: pointer;
}

.midUp3{
	position: absolute;
	width:146px;
	height:195px;
	top:75px;
	left:650px;
	cursor: pointer;
}

.midBot1{
	position: absolute;
	width:315px;
	height:182px;
	top:250px;
	left:100px;
	z-index: 10;
	cursor: pointer;
}

.midBot2{
	position: absolute;
	width:315px;
	height:182px;
	top:250px;
	left:470px;
	z-index: 10;
	cursor: pointer;
}

#treeUp1{
	background-image:url('media/image/bg/treeUp1.png');
}

#treeUp2{
	background-image:url('media/image/bg/treeUp2.png');
}

#treeUp3{
	background-image:url('media/image/bg/treeUp3.png');
}

#treeBot1{
	background-image:url('media/image/bg/treeBot.png');
}

#treeBot2{
	background-image:url('media/image/bg/treeBot.png');
}

/* game item */

.pointer{
	display: inline-block;
	position: absolute;
	width:76px;
	height:120px;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 9;
}

.pointer:hover{
	border: 1px solid white;
}

.tree{
	background-image:url('media/image/bg/treeOne.png');
	background-repeat:no-repeat;
}

/* item location */

.ptr1{
	top: 200px;
	left: 75px;
}

.ptr2{
	top: 200px;
	left: 150px;
}

.ptr3{
	top: 200px;
	left: 225px;
}

.ptr4{
	top: 150px;
	left: 225px;
	z-index:8;
}

.ptr5{
	top: 100px;
	left: 225px;
	z-index:7;
}

.ptr6{
	top: 200px;
	left: 300px;
}

.ptr7{
	top: 200px;
	left: 375px;
}

.ptr8{
	top: 250px;
	left: 400px;
	z-index:10;
}

.ptr9{
	top: 300px;
	left: 400px;
	z-index:11;
}

.ptr10{
	top: 200px;
	left: 450px;
}

.ptr11{
	top: 200px;
	left: 525px;
}

.ptr12{
	top: 200px;
	left: 600px;
}

.ptr13{
	top: 150px;
	left: 585px;
	z-index:8;
}

.ptr14{
	top: 100px;
	left: 585px;
	z-index:7;
}

.ptr15{
	top: 200px;
	left: 675px;
}

.ptr16{
	top: 200px;
	left: 750px;
}

.storeBag{
	display: inline-block;
	position: absolute;
	width:200px;
	height:200px;
	border: 1px blue solid;
	top: 350px;
	left:550px;
	cursor: pointer;
}

