/* wrapper */

#D1{
	background: #899037;
	background-image:url('media/image/bg/hutan.png');
}

#D2{
	background: #899037;
	background-image:url('media/image/bg/tambang.png');
}

#D3{
	background: #899037;
	background-image:url('media/image/bg/bebatuan.png');
}

/* User Interface */

.winBoard{
	background: white;
	display: inline-block;
	position: absolute;
	width:200px;
	height:200px;
	border: 3px black solid;
	top: 250px;
	left:350px;
	z-index:1000;
}

.stBoard{
	background: white;
	display: inline-block;
	position: absolute;
	width:200px;
	height:200px;
	border: 3px black solid;
	top: 250px;
	left:350px;
	z-index:1000;
}

/* aksesoris */

.midUp{
	position: absolute;
	width:676px;
	height:198px;
	top:75px;
	left:100px;
}

.midBot{
	position: absolute;
	width:668px;
	height:184px;
	top:250px;
	left:100px;
}

#treeUp{
	background-image:url('media/image/bg/treeUp.png');
}

#treeBot{
	background-image:url('media/image/bg/treeBot.png');
}

/* game item */

.pointer{
	display: inline-block;
	position: absolute;
	width:100px;
	height:200px;
	border: 1px red transparent;
	cursor: pointer;
}

.pointer:hover{
	border: 2px red solid;
}

.tree{
	background-image:url('media/image/bg/tree.png');
	background-repeat:no-repeat;
}

/* item location */

.ptr1{
	top: 25px;
	left: 75px;
}

.ptr2{
	top: 25px;
	left: 300px;
}

.ptr3{
	top: 25px;
	left: 520px;
}

.ptr4{
	top: 25px;
	left: 740px;
}

.ptr5{
	top: 325px;
	left: 110px;
}

.ptr6{
	top: 325px;
	left: 335px;
}

.storeBag{
	display: inline-block;
	position: absolute;
	width:200px;
	height:200px;
	border: 1px blue solid;
	top: 350px;
	left:550px;
	cursor: pointer;
}

